
@font-face {font-family: "icon_area";
  src: url('iconfont.eot?t=1498444249914'); /* IE9*/
  src: url('iconfont.eot?t=1498444249914#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498444249914') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498444249914') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498444249914#icon_area') format('svg'); /* iOS 4.1- */
}

.icon_area {
  font-family:"icon_area" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.area-shuaxin:before { content: "\e7fc"; }

.area-fanhui:before { content: "\e60b"; }

.area-weifabu:before { content: "\e601"; }

.area-fabu1:before { content: "\e768"; }

.area-wenbenbianji:before { content: "\e6d5"; }

.area-tingyong:before { content: "\e673"; }

.area-shouqi:before { content: "\e600"; }

.area-zhankai:before { content: "\e60e"; }

.area-iconset0136:before { content: "\e623"; }

.area-yifabu:before { content: "\e711"; }

.area-sousuo3:before { content: "\e671"; }

.area-bianjiwenben:before { content: "\e667"; }

.area-shaixuan:before { content: "\e61b"; }

.area-yanzm:before { content: "\e7f7"; }

.area-3333333:before { content: "\e61c"; }

.area-chexiao:before { content: "\e7f9"; }

.area-xiazai2:before { content: "\e63c"; }

.area-wenben:before { content: "\e608"; }

.area-wjian:before { content: "\e60d"; }

.area-jilu:before { content: "\e6b0"; }

.area-gantanhao:before { content: "\e6a4"; }

.area-fabu:before { content: "\e604"; }

.area-wenbenyu:before { content: "\e659"; }

.area-import:before { content: "\e736"; }

.area-ziyuan:before { content: "\e61d"; }

.area-zuo:before { content: "\e605"; }

.area-zuo1:before { content: "\e6b3"; }

.area-zancun:before { content: "\e61f"; }

.area-bianji:before { content: "\e60f"; }

.area-chakan:before { content: "\e611"; }

.area-shanchu:before { content: "\e613"; }

.area-zengjia:before { content: "\e616"; }

.area-taolunqun:before { content: "\e612"; }

.area-pause:before { content: "\e619"; }

.area-play:before { content: "\e61a"; }

.area-word:before { content: "\e716"; }

.area-baocun:before { content: "\e691"; }

.area-excel:before { content: "\e610"; }

.area-TXT:before { content: "\e668"; }

.area-qingdan:before { content: "\e602"; }

.area-weidu:before { content: "\e603"; }

.area-kucunfenxi:before { content: "\e606"; }

.area-wuliaozu:before { content: "\e607"; }

.area-baobiao:before { content: "\e609"; }

.area-jinduzhuizong:before { content: "\e60a"; }

.area-shouye:before { content: "\e835"; }

.area-word1:before { content: "\e60c"; }

.area-excel1:before { content: "\e617"; }

