
@font-face {font-family: "icon_area";
  src: url('iconfont.eot?t=1501666921040'); /* IE9*/
  src: url('iconfont.eot?t=1501666921040#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501666921040') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501666921040') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501666921040#icon_area') format('svg'); /* iOS 4.1- */
}

.icon_area {
  font-family:"icon_area" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.area-shuaxin:before { content: "\e7fc"; }

.area-fanhui:before { content: "\e60b"; }

.area-weifabu:before { content: "\e601"; }

.area-guanbi1:before { content: "\e66e"; }

.area-shijianxiangmu:before { content: "\e7fd"; }

.area-fabu1:before { content: "\e768"; }

.area-rongyubiaozhang:before { content: "\e7ef"; }

.area-wenbenbianji:before { content: "\e6d5"; }

.area-tingyong:before { content: "\e673"; }

.area-shouqi:before { content: "\e600"; }

.area-gou:before { content: "\e61e"; }

.area-zhankai:before { content: "\e60e"; }

.area-txt02:before { content: "\e618"; }

.area-iconset0136:before { content: "\e623"; }

.area-bag02:before { content: "\e637"; }

.area-set:before { content: "\e64c"; }

.area-beizhu:before { content: "\e624"; }

.area-sousuo3:before { content: "\e671"; }

.area-bianjiwenben:before { content: "\e667"; }

.area-chexiao:before { content: "\e7f9"; }

.area-xiazai2:before { content: "\e63c"; }

.area-jxz:before { content: "\e614"; }

.area-shibai:before { content: "\e685"; }

.area-tishi:before { content: "\e626"; }

.area-wjian:before { content: "\e60d"; }

.area-jilu:before { content: "\e6b0"; }

.area-bingzhuangtu:before { content: "\e627"; }

.area-gantanhao:before { content: "\e6a4"; }

.area-left:before { content: "\e670"; }

.area-fabu:before { content: "\e604"; }

.area-import:before { content: "\e736"; }

.area-ziyuan:before { content: "\e61d"; }

.area-shangchuan:before { content: "\e621"; }

.area-zuo:before { content: "\e605"; }

.area-zuo1:before { content: "\e6b3"; }

.area-zancun:before { content: "\e61f"; }

.area-bianji:before { content: "\e60f"; }

.area-chakan:before { content: "\e611"; }

.area-shanchu:before { content: "\e613"; }

.area-zengjia:before { content: "\e616"; }

.area-pingyu:before { content: "\e608"; }

.area-shangchuan1:before { content: "\e622"; }

.area-ywc1:before { content: "\e6bb"; }

.area-pause:before { content: "\e619"; }

.area-play:before { content: "\e61a"; }

.area-baocun:before { content: "\e691"; }

.area-right:before { content: "\e606"; }

.area-qingdan:before { content: "\e602"; }

.area-weidu:before { content: "\e603"; }

.area-wuliaozu:before { content: "\e607"; }

.area-baobiao:before { content: "\e609"; }

.area-jinduzhuizong:before { content: "\e60a"; }

.area-shouye:before { content: "\e835"; }

.area-kehouzuoye_pingyu:before { content: "\e615"; }

.area-dcl:before { content: "\e61b"; }

.area-wushuju1:before { content: "\e642"; }

.area-rongyu1:before { content: "\e64d"; }

